.topbar{
    width: 60%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background: white;
    color: black;
    border: solid;
    border-color: black;
    transition:background-color 0.3s; 
}
.topbar:hover{
    background-color:black ;
    color: white;
    border-color: orange;

}

.empty{
    width: 50%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: solid;
    border-color: orange;
   
}
.link{
    width: 15%;
    border-radius: 10px;
    padding: 10px;
    background: white;
    color:black;
    border: solid;
    border-color: black;
    transition:background-color 0.3s; 
}
.link:hover{
    background-color:black ;
    color: white;
    border-color: white;
  
}
.bar{
    border-radius: 10px;
    border-color: orange;
    border-style: solid;
    height: 150px;
    background-color: black;
    margin: 5px;
    padding: 10px;
    width: 35%;
    
}
.area{
    height: 1000px;
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
    border-style: solid;
    border-color: orange;
}
.text{
    padding: 10px;
    margin: 4px;
    background: white;
    border-radius: 10px;
    border: solid;
    border-color: black;
    transition:background-color 0.3s; 
}
.text:hover{
    background-color:black ;
    color: white;
    border-color: orange;

}
